obj/portfolio.csproj.nuget.dgspec.json
obj/portfolio.csproj.nuget.g.props
obj/portfolio.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/portfolio.AssemblyInfo.cs
obj/Debug/net7.0/portfolio.AssemblyInfoInputs.cache
obj/Debug/net7.0/portfolio.assets.cache
obj/Debug/net7.0/portfolio.csproj.AssemblyReference.cache
obj/Debug/net7.0/portfolio.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/portfolio.GlobalUsings.g.cs
obj/Debug/net7.0/project.razor.json
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net7.0/Microsoft.OpenApi.dll
bin/Debug/net7.0/portfolio.deps.json
bin/Debug/net7.0/portfolio.dll
bin/Debug/net7.0/portfolio.exe
bin/Debug/net7.0/portfolio.pdb
bin/Debug/net7.0/portfolio.runtimeconfig.json
bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/portfolio.csproj.CopyComplete
obj/Debug/net7.0/portfolio.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/portfolio.csproj.FileListAbsolute.txt
obj/Debug/net7.0/portfolio.dll
obj/Debug/net7.0/portfolio.genruntimeconfig.cache
obj/Debug/net7.0/portfolio.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net7.0/portfolio.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net7.0/portfolio.pdb
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/ref/portfolio.dll
obj/Debug/net7.0/refint/portfolio.dll
obj/Debug/net7.0/staticwebassets/msbuild.build.portfolio.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.portfolio.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.portfolio.props
bin/Debug/net7.0/Azure.Core.dll
bin/Debug/net7.0/Azure.Identity.dll
bin/Debug/net7.0/Humanizer.dll
bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net7.0/Microsoft.Identity.Client.dll
bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/Mono.TextTemplating.dll
bin/Debug/net7.0/System.CodeDom.dll
bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net7.0/System.Drawing.Common.dll
bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net7.0/System.Memory.Data.dll
bin/Debug/net7.0/System.Runtime.Caching.dll
bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/System.Security.Permissions.dll
bin/Debug/net7.0/System.Windows.Extensions.dll
bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
